/* Start Variable */
:root {
    --main-color: #e6a756;
    --sec-color: #2F170F;
    --main-padding: 80px;
    }
/* End Variable */
/* Srart Second section */
.content {
    text-align: center;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.content .container {
    display: flex;
    position: relative;
    justify-content: flex-end;
}
@media(max-width: 1000px) {
    .content .container {
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }
}
.content .container .box:first-child {
    background-color: #f6e1c5;
    width: 45%;
    height: fit-content;
    position: absolute;
    left: -30px;
    top: 15%;
    transform: translateY(-15%);
    border-radius: 5px;
}
@media(max-width: 1000px) {
    .content .container .box:first-child {
        width: 100%;
        position: unset; 
        margin: 100px 0 0;
    }
}

.content .container .box .text {
    text-align: center;
    margin: 45px 50px;
}
.content .container .box .text h2 {
    font-size: 25px;
    margin-top: 15px;
}
.content .container .box .text h1 {
    color: #212529;
}
.content .container .box .text p {
    line-height: 1.6;
    color: #212529;;
}
@media (max-width: 767px) {
    .content .container .box .text h2 {
        font-size: 20px;
}
.content .container .box .text h1 {
    font-size: 28px;
}
.content .container .box .text p {
    line-height: 1.4;
    font-size: 14px;
}
}
.content .container .box:last-child {
    width: 85%;
    z-index: -1;
    position: relative;
}
@media (max-width:1000px) {
    .content .container .box:last-child {
        width: 100%;
    }
}
.content .container .box img {
    width: 100%;
    border-radius: 5px;
}
.content .container .box .text button {
    background-color: var(--main-color);
    border-radius: 5px;
    border-color: transparent;
    font-size: 20px;
    width: 180px;
    height: 60px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
/* End Second section */
/* Start Proimse Section */
.promise {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    justify-content: center;
}
.promise .text {
    padding: 35px;
    background-color: #f6e1c5;
    width: 80%;
    border-radius: 5px;
    border: 5px solid #e6a75685;
}
.promise .text h2 {
    margin-top: 25px;
    font-size: 18px;

}
.promise .text h1 {
    color: #212529;
    font-size: 45px;
}
.promise .text p {
    line-height: 1.6;
    color: #212529;
}
@media(max-width: 767px) {
    .promise .text p {
        line-height: 1.4;
        font-size: 14px;
    }
    .promise .text h1 {
        font-size: 40px;
    }
    .promise .text h2 {
        font-size: 18px;
    }
}
/* End Proimse Section */
